PUBLIC_APP_URL=https://lingshan.139-159-150-134.sslip.io:20443
PUBLIC_ADMIN_URL=https://139.159.150.134:20444

CLOUDFLARE_TURN_KEY_ID=
CLOUDFLARE_TURN_API_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=

LOCAL_TURN_ENABLED=false
TURN_ENABLED=true
TURN_PUBLIC_HOST=139.159.150.134
TURN_UDP_ENABLED=false
TURN_PORT=20000
TURN_USERNAME=lingshan
TURN_CREDENTIAL=CHANGE_ME
